.error-msg-container,
.loading-msg-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}
.error-msg-container p {
  font-family: Verdana;
  font-size: 2rem;
  color: red;
}
.loading-msg-container img {
  height: 100px;
}

.accordion-container {
  padding: 1rem;
  background: #000018;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gradient {
  background: linear-gradient(#ec896c, #e85478);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.intro-description {
  padding: 2rem;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: justify;
}
.accordion-container h1 {
  text-align: center;
  font-size: 4rem;
}
.selection-btn {
  font-size: 2rem;
  background: #3c3b4d;
  color: #ffffff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}
.accordion {
  margin-top: 1rem;
  width: 70%;
  border-radius: 1rem;
  overflow: hidden;
}
.month {
  padding: 1.5rem;
  font-weight: bold;
  background: #232439;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.month-name {
  font-size: 2rem;
  font-weight: bold;
}
.events {
  background: #3c3b4d;
  color: #ffffff;
  text-align: justify;
}
.event {
  position: relative;
}
.sub-event {
  display: grid;
  grid-template-columns: 20% 80%;
  border-bottom: 1px solid #232439;
}
.day {
  margin-left: 0.5rem;
  position: absolute;
  font-size: 3rem;
  color: #ec896c;
  text-shadow: 0 0 1rem #000000;
}
.time-stamp-container {
  position: absolute;
  margin-left: 20%;
  margin-top: 8px;
}
.sub-event-img {
  width: 160px;
}
.seconds {
  background: #232439;
  padding: 4px;
  border-radius: 4px;
  margin-right: 2px;
}
.sub-event-discription {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-event-discription span{
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  text-shadow:0 0 8px #000;
}
