@font-face {
  font-family: "PlaywriteCL";
  src: url("/assets/fonts/PlaywriteCL-Regular.ttf");
}

.quote-container {
  font-family: PlaywriteCL;
  bottom: 30vh;
  position: relative;
  font-family: monospace;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.quote {
  font-family: "PlaywriteCL";
  width: 70%;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 2rem #000;
}
.quote-by {
  font-family: "PlaywriteCL";
  width: 70%;
  text-align: right;
  font-size: 1rem;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}
